img {
  width: 200px;
}

.b1 {
  background: linear-gradient(45deg, rgb(255, 0, 0, 0.8), rgb(0, 0, 255, 0.8));
  color: red;
}
.b2 {
  background: linear-gradient(45deg, rgb(111, 83, 44, 0.8), rgb(45, 41, 3, 0.8));
  color: brown;
}
.b3 {
  background: linear-gradient(45deg, rgb(239, 144, 206, 0.8), rgb(204, 155, 209, 0.8));
  color: pink;
}
.b4 {
  background: linear-gradient(45deg, rgb(151, 146, 142, 0.8), rgb(5, 5, 5, 0.8));
  color: gray;
}

.c1 {
  background: linear-gradient(white, black);
}
.c2 {
  background: radial-gradient(yellow, green);
}
.c3 {
  background: repeating-linear-gradient(45deg, orange 10px, orange 10px, coral 20px, coral 20px);
}
.c4 {
  background: repeating-radial-gradient(purple 10px, purple 10px, lightblue 20px, lightblue 20px);
}

p {
  text-align: center;
}

.block {
  float: left;
  margin-right: 20px;
}

body {
  background: repeating-linear-gradient(90deg, #473774, #473774 10px, #543f86 10px, #543f86 20px)
}